* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #000000;
    color: #ededed;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 5%;
    /*background: red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

li {
    list-style: none;
}
.logo {
    font-size: 34px;
    color: #ededed;
    text-decoration: none;
    font-weight: 800;
    transition: .3s ease;
}

.logo span {
    text-shadow: 0 0 25px #0ef;
    color: #0ef;
}

.logo:hover {
    transform: scale(1.1);
}
.main-menu {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.main-menu li {
    display: block;
}
.main-menu li a {
    position: relative;
    display: block;
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    padding: 8px;
    transition: .5s;
}

.main-menu li a.active {
    color: #0ef;    
}

.main-menu li a:hover {
    color: #0ef;
}

.main-menu li a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid #0ef;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    transition: .5s;
    opacity: 0;
}

.main-menu li a:hover span {
    transform: scale(1) translateY(0);
    opacity: 1;
}

#menu-icon {
    display: none;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    
}

#menu-icon::before {
    content: '\f0c9';
    font-size: 2.6rem;
    color: #ededed;
}

#menu-icon.active::before {
    content: '\f00d';
    font-size: 2.6rem;
    color: #ededed;
}

@media (max-width:1200px) {
    header {
        width: 100%;
        padding: 15px 15px;
        transition: .3s;
    }
}
@media (max-width:849px) {
    header {
        padding: 2rem 3%;
    }
    
    #home {
       
        display: flex;
        margin: 5rem 4rem;
        flex-direction: column-reverse;
        padding: 10rem 3% 2rem;
        background-size: 600px;
        background-position: 9rem 8rem;
    }

    .home-content p {
        max-width: 600px;
        margin: 0 auto;
    }

    .text-animate {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 8rem;
        margin-top: 3rem;
    }

    .home-imgHover {
        display: none;
    }
    .navbar .main-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        padding: 20px 20px 40px;
        flex-direction: column;
        transition: .3s;
        visibility: hidden;
        transform: translateY(-20px);
        transform-origin: top;
        opacity: 0;
    }

    .navbar .main-menu li {
        padding: 7px;
        transition: .3s;
    }

    .navbar .main-menu.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: .5s;
    }
    #menu-icon {
        display: block;
    }
    .home-sci {
        margin-bottom: -25rem;
        transition: .5s;
    }
    /*
    .home::before {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        background-color: red;
        background-position: 30rem 1rem;
        transition: .3s;
    }
    */
}

@media (max-width:428px) {
    #home {
       
        display: flex;
        margin: 5rem 4rem;
        flex-direction: column-reverse;
        padding: 10rem 3% 2rem;
        background-size: 370px;
        background-position: -2rem -2rem;
    }

    .home-content .welcome {
        font-size: auto;
    }
    .home-content .text-animate span {
        font-size: 28.5px;

    }
    .home-content #text-animate span::after {
        font-size: 3px;
        content: "";
        position: absolute;
        right: -7px;
        height: 100%;

    }
    .home-content p {
        max-width: 600px;
        margin: 0 auto;
    }
    .home-sci {
        margin-bottom: -20rem;
        transition: .5s;
    }
}
/*Section Home*/

section {
    min-height: 100vh;
    padding: 8rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 4 9%;
    background: url('/static/img/btws.jpg') no-repeat;
    background-size: auto;
    background-position: 73rem 2.8rem;
    transition: .5s;
}

.home-content {
    max-width: 60rem;
}

.home-content .welcome {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content .text-animate {
    font-size: 34px;
    font-weight: bold;
    min-width: 280px;
}

.home-content .text-animate span {
    position: relative;
    color: #0ef;
}

.home-content .text-animate span::before {
    content: "";
    animation: words 20s infinite;
}

.home-content .text-animate span::after {
    content: "";
    background-color: #000000;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #000000;
    right: -8px;
    padding: 2.5px 0;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #0ef;
    }
}

@keyframes words {
    0%,
    20% {
        content: "Pentesting Specialist";
    }
    21%,
    40% {
        content: "CiberSecurity" ;
    }
    41%,
    60% {
        content: "Ethical Hacking";
    }
    61%,
    80% {
        content: "Full Stack Developer";
    }
    81%,
    100% {
        content: "Software Designer";
    }
}

@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

.home-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: #0ef;
    border: .2rem solid #0ef;
    border-radius: .8rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .1rem;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.btn-box .btn:nth-child(1) {
    color: #000000;
    transition: .3s;
}

.btn-box .btn:nth-child(1):hover {
    color: #ededed;
    transition: .3s;
}
.btn-box .btn:nth-child(2) {
    background: transparent;
    color: #ededed;
    transition: .3s;
}

.btn-box .btn:nth-child(2):hover {
    color: #000000;
    transition: .3s;
}

.btn-box .btn:nth-child(2)::before {
    background: #0ef;
}
.btn-box .btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #000000;
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

/*home sci*/

.home-sci {
    position: absolute;
    bottom: 1rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease-in-out;
}

.home-sci a:hover {
    color: #000000;
    transition: .5s;
    transform: scale(1)translateY(-5px);
    box-shadow: 0 0 10px #0ef;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0ef;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 2s;
}

.home-imgHover:hover {
    background: #000000;
    opacity: .9;
}