<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.css" integrity="sha512-lPVylmnp4LyPqOairDh58Rxe7cfOsLhf0uQHRwNJSWjO0Wd10oaNnzSr+PPw+foN52kjgwImetOCDnG1pNO/Ug==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/brands.css" integrity="sha512-u9sARgGS0ptZTPKetLol1LJd2gv9Zg0KbuoCEft0YP9tnstEsYNVxqzkuOEf+FzyeYWwJGE5jD399b7j8AjG7w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/solid.css" integrity="sha512-0LnC2O/jH9ps+JqmA6HwcOOxZNk3SWB9IJC2N24DakY7TbA9DZa1J7kmEqnXeooVXssHdkOTv6an9z+fICE+QQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <a href="#" class="logo">Br34k3r <span>TWS</span>.</a>
        <div class="toggle-container">
            <input type="checkbox" id="theme-toggle">
            <label for="theme-toggle" class="toggle-label">
                <img src="/static/img/solecito.png" class="toggle-icon solecito">
                <img src="/static/img/lunita.png" class="toggle-icon lunita">
            </label>
        </div>
        <nav class="navbar">
            <ul class="main-menu">
                <li><a href="/"><span class="fa fa-home" id="nav-icon"></span>Home<span class="menu-animate"></span></a></li>
                <li><a href="#"><span class="fa fa-briefcase" id="nav-icon"></span>Portfolio<span class="menu-animate"></span></a></li>
                <li><a href="/templates/_skills/skills.html" class="active"><span class="fa fa-pie-chart" id="nav-icon"></span>Skills<span class="menu-animate"></span></a></li>
                <li><a href="/templates/_about/about.html" target="_self"><span class="fa fa-user-circle" id="nav-icon"></span>About<span class="menu-animate"></span></a></li>
            </ul>
        </nav>
        <button class="fa fa-bars" aria-hidden="true" id="menu-icon"></button>
    </header>
    <script src="/static/js/script.js"></script>
</body>
</html>